.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height:50px;
   background-color:  rgb(240, 240, 240);
    color: white;
    text-align: center;
    color: rgb(83, 83, 83);
  }
  p{
      margin-top: 15px;
  }