<!-- Text for benefits goes here -->

<div class="container aboutus">
    <div class="row">
        <!-- <div class="col-xs-12 col-md-6 ">
            <img class="cardImage" src="../../../assets/img/kids_playing_rainbow.png"/>
        </div> -->
        <div class="col-xs-12 col-md-12 cardText ">

            <h2>О нашем садике</h2>
            <p>Наш языковой центр “Радуга” был основан Ириной Табунчик и ее мужем Олегом в 2011 г. с целью создания
                воспитательной программы для полноценного развития детей дошкольного возраста. В основу программы входит
                формирование основ базовой культуры личности, всестороннее развитие психических и физиологических
                качеств и подготовка ребенка к жизни в современном обществе. Мисс Ирина имеет 35 летний педагогический
                стаж и была награждена высшей учительской категорией в России. В дополнении к основам математики,
                чтения, письма, музыки и физкультуры - наши подопечные учатся понятиям общественной жизни и уважению
                друг друга. Каждый из учеников получает индивидуальный подход в зависимости от возраста и уровня
                развития. Мы тщательно следим чтобы никто из них не отставал в учебном процессе. </p>
            <p>
                Учащиеся в нашем центре получают четырехразовое сбалансированное питание, так что у них всегда
                достаточно энергии чтобы учить, играть и веселиться. Наше меню представляет собой домашнюю кухню
                исключительно из свежих ингредиентов. Блюда включают различные виды супов, каш, картофеля, макарон,
                тефтелей, вареников, выпечки и другого. Также в рационе всегда свежие фрукты и ягоды. Помимо
                полноценного питания, наши ученики получают послеобеденный сон, который так необходим для подзарядки.
                Дважды в день дети гуляют на игровой площадке, и, во время купального сезона, они посещают бассейн.
            </p>
            <p> Наше учреждение лицензировано. Все занятия ведутся на русском языке. Таким образом, если вы хотите чтобы
                ваш ребенок не только говорил по русски но и знал русскую литературу и культуру, обязательно приходите в
                наш образовательный центр “Радуга”!
            </p>

        </div>
    </div>
</div>