@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');


.games{
   
    
    border: black 1px solid;
    border-radius: 10px;
    z-index: 5px;
    background-color: white;
}
img.cardImage{
    /* position:absolute; */
    margin-right: 50px;
    /* margin-left: 50%;
    transform: translateX(-50%); */
    margin-top: 2px;
   
  max-width: 100%;
  border-radius: 10px;
}
li{
    font-family: 'Pangolin', cursive;
    font-size: 18px;
}
h2{
    text-align: center;
}