<!-- Text for benefits goes here -->

<div class="container benefits">
    <div class="row">
        <div class="col-xs-12 col-md-4 ">
            <img class="cardImage" src="../../../assets/img/kids_playing_rainbow.png" />
        </div>
        <div class="col-xs-12 col-md-8 cardText pull-right">

            <h2>Why To Choose Rainbow Daycare</h2>
            <ul *ngFor="let benefitsEl of benefitsArr">
                <li>
                    {{benefitsEl}}
                </li>
            </ul>
        </div>
    </div>
</div>