
<!-- Text for benefits goes here -->

<div class="container benefits">
    <div class="row">
        <div class="col-xs-12 col-md-4 ">
            <img class="cardImage" src="../../../assets/img/kids_playing_rainbow.png"/>
        </div>
        <div class="col-xs-12 col-md-8 cardText pull-right" >

    <h2>Why To Choose Rainbow Daycare</h2>
    <ul>
        <li>
            Extended drop-off and pick-up times. We are typically open from 7:30am - 6:30pm
        </li>
        
         <li>
              Freshly made, home-cooked food 4 times a day, so our children never stay hungry
         </li>
         <li>
             We teach our children multiple subjects, including Math, Literature, Music, Art and more
         </li>
         <li>
             We provide our children with toys and games for them to play with
         </li>
         
         <li>
             We organize birthday parties for every of our child
         </li>
         <li>
             We make sure that our children stay safe and happy
         </li>
         <li>
             We are affordable and have more flexible terms than many of our competitors
        </li>
    </ul>
        </div>
    </div>
</div>