<!-- Text for benefits goes here -->

<div class="container benefits">
    <div class="row">
        <div class="col-xs-12 col-md-3 ">
            <img class="cardImage" src="../../../assets/img/background.jpg" />
        </div>
        <div class="col-xs-12 col-md-9 cardText ">

            <h2>Why To Choose Rainbow Daycare</h2>
            <ul *ngFor="let benefitsEl of benefitsArr">
                <li>
                    {{benefitsEl}}
                </li>
            </ul>
        </div>
    </div>
</div>