<!-- Text for benefits goes here -->

<div class="container benefits">
    <div class="row">
        <div class="col-xs-12 col-md-3 ">
            <img class="cardImage" src="../../../assets/img/background.jpg" />
        </div>
        <div class="col-xs-12 col-md-9 cardText pull-right">

            <h2>Наши отличия от других садов</h2>
            <ul *ngFor="let benefitEl of benefitsArr">
                <li>
                    {{benefitEl}}
                </li>
            </ul>
        </div>
    </div>
</div>