
<div class="contactpage">
<div class="container-fluid contactinfo">
    <!-- <div class="row contactinfo"> -->
    <!-- <div class="col-xs-12 col-md-8"> -->
        
        <h2>Contact Us</h2>
       <p>Location: 21781 Findon ct, Ashburn, VA 20147</p> 
       <p>Phone: (301)523-0116</p>
       <p>Email: alic98@gmail.com</p>
       <div class="formarea">
       <form action="mailto:alic98@gmail.com" method="post" enctype="text/plain">
          Name:<br>
          <input type="text" name="name"><br>
          E-mail:<br>
          <input type="text" name="mail"><br>
          Message:<br>
          <textarea type="text" name="comment" rows= "3" cols="25"></textarea>
          <br><br>
          <input type="submit" value="Send" class="buttons btn btn-primary">
          <input type="reset" value="Reset" class="buttons btn ">
          </form>
     </div>
    <!-- </div> -->
    <!-- </div>  -->
</div> 
</div>
