
<div class="contactpage">
<div class="container-fluid contactinfo">
    <!-- <div class="row contactinfo"> -->
    <!-- <div class="col-xs-12 col-md-8"> -->
        
        <h2>Contact Us</h2>
       <p>Location: 21781 Findon ct, Ashburn, VA 20147</p> 
       <p>Phone: (301)523-0116</p>
       <p>Email: alic98@gmail.com</p>
       
    <form 
        action='mailto:voronov.dmitry@gmail.com'
        method='POST'       
        enctype='multipart/form-data'       
        name='EmailTestForm'>
       <br>
       <div class="formarea">
       <label>Name: </label> 
       <br>      
       <input 
            type='text' 
            size='28' 
            name='VisitorName'>
       <br>
       <label>Message:</label>
       <br>
       <textarea 
            name='VisitorComment' 
            rows='4' 
            cols='30'>       
       </textarea> 
       <br>
       <input 
            type='submit' 
            value='Submit'> 
          </div>
    </form>

    <!-- </div> -->
    <!-- </div>  -->
</div> 
</div>
