
button.card-link{
   
    width: 200px;
    min-height: 100px;
}


.link-group{ 
   
   /* margin-left:50%;   
   transform:translateX(-50%); */
   text-align: center;
    /* margin-top: 30%; */
 
    
}
.descriptionLinks{
   
    display: inline-flex;   
    min-height: 100px;   
    text-align: center;
    margin: 30px; 
    text-decoration: none;
    
   
} 

a{
    text-decoration: none;
    color: white;
}
div .container .displaydata{
    height:auto
}
