@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');
button.card-link{   
    width: 200px;
    min-height: 150px;
    border-radius: 10px;
    margin-bottom: 10px;
}


.link-group{ 
 
   /* margin-left:50%;   
   transform:translateX(-50%); */
   text-align: center;
    /* margin-top: 30%; */
    
}
.descriptionLinks{
   
    display: inline-flex;   
    min-height: 100px;   
    text-align: center;
    margin: 20px; 
    text-decoration: none;   
   
} 
.link-group{
    /* margin-bottom:10; */
    /* position:sticky; */
    bottom:0;
    /* margin-top: 100px; */
    
}
h3, p{
    font-family: 'Pangolin', cursive;
}
h3{
    font-weight: bolder;
}
p{
    font-size: 16px;
}
.translation{
    width: 60%;
    height: 50px;
    border-radius: 10px;
    margin-top: 50px;
    /* margin-left: 50%;
    transform: translateX(-50%); */
    font-family: 'Pangolin', cursive;
    font-size: 16px;
    margin-bottom: 20px;
    
}
 img.icon{ 
    border-radius: 50%;
 width:25px
} 



