
<div class="container-fluid galerypage">
<div class="container-fluid videocontainer">
<video class="player" width="320"  controls>
  <source src="../../assets/video/37dcb437-5584-4fed-8e21-291daf3e86a6 (2).mov" type="video/mp4">
  
  Your browser does not support the video tag.
</video>

<!-- <video class="player" width="320"  controls>
  <source src="../../assets/video/IMG_8206 (2).MOV" type="video/mp4">
  
</video> -->

</div>
<div class="container-fluid imgcontainer ">

  <div class="images " *ngFor="let imgEl of kidsImages">
    <div>
      <img src="{{imgEl}}">
    </div>
  </div>
</div>
</div>