* {
    margin:0;
        
}




div.videocontainer{  
  
  text-align: center;
  margin-bottom: 4rem;
}

video.player{
  
 align-items: center;
 border-radius: 10px;
 border:solid grey 2px;
}

/* .kidsImages{
  display: inline-flex;
} */

img{  
  width:30rem;
  margin: 3rem;
 border-radius: 10px;
 border:solid grey 2px;
 margin-bottom: 4rem; 
  
}
img:hover{
  
  transform: scale(1.5);
  margin: 3rem;
 border-radius: 10px;
 border:solid grey 2px;
 transition: .5s;
   
}

@media only screen and (max-width: 600px) {
 img {
  width:20rem;
  }
}

@media only screen and (max-width: 600px) {
  img:hover {
    transform: scale(1.5);
   }
 }

.images {
  display: inline-block;  
  padding: 0 4px;
  margin-left: 0%;
  
}

.imgcontainer{
  margin-bottom: 10rem;
  width: 95%;
  text-align: center;
  
}





