
<div class="container games">
    <div class="row">
        <div class="col-xs-12 col-md-6 ">
            <img class="cardImage" src="../../../assets/img/kids_playing_rainbow.png"/>
        </div>
        <div class="col-xs-12 col-md-6 cardText pull-right" >

    <h2>Games in russian</h2>
    <ul>
        <li>
          Russian
       </li>
       
       <li>
        Russian
     </li>
     <li>
        Russian
     </li>
     <li>
        Russian
     </li>
     <li>
        Russian
     </li>
     <li>
        Russian
     </li>
     <li>
        Russian
     </li>
    </ul>
        </div>
    </div>
</div>