@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');
@keyframes fadein {
    from{
        opacity:0.1;
    }
    25%{
        opacity:0.25;
    }
    50%{
        opacity:0.50;
    }
    75%{
        opacity:0.75;
    }
    to {
        opacity: 1;
    }
}

.games{
    z-index: 5px;
    background-color: white;    
    border: black 1px solid;
    border-radius: 0.625rem;
    min-height: 450px;
    animation-name: fadein;
    animation-duration: 0.5s;

}
img.cardImage{
    height: 30rem;
    margin-top: 7rem;
    max-width: 100%;
    border-radius: 10px;
}
li{
    font-family: 'Pangolin', cursive;
    font-size: 18px;
    text-align: justify;
}
h2{
    text-align: center;
}
.cardText{

   margin-top: 3rem;
}
