@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');
.aboutus {
 animation-name: fadein;
 animation-duration: 0.5s; 
}

@keyframes fadein {
    from{
        opacity:0;
    }
    25%{
        opacity:0.25;
    }
    50%{
        opacity:0.50;
    }
    75%{
        opacity:0.75;
    }
    to {
        opacity: 1;
    }
}

.row{
    margin-top: 3rem;
}

.aboutus{
   
    z-index: 5px;
    background-color: white;    
    border: black 1px solid;
    border-radius: 0.625rem;
   min-height: 450px;
    
}
img.cardImage{
  max-width: 100%;
}
p{
    font-family: 'Pangolin', cursive;
    font-size: 18px;
    text-align: justify;
}
h2{
    text-align: center;
}