
<!-- Text for benefits goes here -->

<div class="container aboutus">
    <div class="row">
        <!-- <div class="col-xs-12 col-md-6 ">
            <img class="cardImage" src="../../../assets/img/kids_playing_rainbow.png"/>
        </div> -->
        <div class="col-xs-12 cardText " >

    <h2>About Us</h2>
    <p>  Our learning center was founded by Irina Tabunchik and her husband Olegs in 2011 with the goal in mind of providing a safe and favorable educational experience to our students. Miss Irina has been teaching for over 35 years, and she was awarded the highest National school teachers award in Russia.  In addition to basic math, reading, writing, music, we teach our children physical education and respect for one another. Each of our students gets an individual approach based on the age and level of comprehension. We always make sure that no student falls behind in their learning endeavors.</p>
    <p>Children at our learning center never stay hungry. We feed our kids four times a day, so they have the energy to learn, play, and to be happy. Our meals prepared at home using fresh ingredients. We cook full course meals that include different kinds of soups as a first course, different varieties of second courses, such as porridge, potatoes, meatballs, spaghetti, Russian style ravioli, pastries, and more.  Our kids get a mid-day nap every day, so they can recharge their batteries. We take our children to play outside on the playground twice a day,  and, whenever the pool is open, we take them to swim. </p>
    <p>We are fully licensed. Our classes are conducted in the Russian language. So, if you wish your child to learn and develop the Russian language, learn Russian literature and more, come see us at Rainbow Russian Language Center.</p>
        </div>
    </div>
</div>
