@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');



* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}








.app{
        
        background-image:  url('../assets/img/combo-back.jpg') ;
        background-size: cover;
        background-repeat: no-repeat; 
              
      
}

@media only screen and (max-width: 600px) {
    .app {
     background-size: 250% 150%;
     
    }
  }

  li{
    font-family: 'Pangolin', cursive;
    font-size: 18px;
}
h2{
    text-align: center;
}