.messagecard{
  position: relative;
    /* width: 80%;       */
    margin-left:50%;   
    transform:translateX(-50%);
    text-align: center;
    margin-top: 5px;
    margin-bottom: 0;  
    display: inline-block;
    background-color: blueviolet;
    
}

img{
  border-radius: 50% 50%;
}

