<p>message works!</p>
<div class="row">
<div class="card messagecard">
    <div class="col-sm-12">
        <div class="imgandtext clearfix col-sm-2">
            <img class="pull-left"src="#" alt="MissIrina">
            <div class="messagecontent pull-right col-sm-10">
                <H3>Message from Miss Irina</H3>
                <p>Dear parents and their children. We are happy to announce that enrollement to a Rainbow daycare is open. We are accepting application for children ages between 1.5 and 5 years old. Please feel free to contat us for any details</p>
            </div>
        </div>
    </div>
</div>
</div>