

    <!-- <div class="container-fluid messagecard imgandtext"> -->
        <div class="container-fluid ">
            <div class="messagecard col-xs-12 col-md-10">         
            <div class="col-xs-12 col-md-2">
            <img class="pull-left image-responsive clearfix" src=".././../assets/img/DSC5414.JPG" alt="MissIrina" style="height: 50px;">
        </div>
            <div class="messagecontent pull-right col-xs-12 col-md-10">
                <H3>Message from Miss Irina</H3>
                <p>Dear parents and their children. We are happy to announce that enrollement to a Rainbow Daycare is now open. We are accepting applications for children ages between 1.5 and 5 years old. Please feel free to contat us for any details.</p>
            </div>
        </div>
    </div>  
    <!-- </div> -->

