

    <!-- <div class="container-fluid messagecard imgandtext"> -->
        <div class="container-fluid " *ngIf = "myLanguage !== 'russian'">
            <div class="messagecard col-xs-12 col-md-8">         
            <div class="col-xs-12 col-md-2">
            <img class="pull-left image-responsive clearfix" src=".././../assets/img/DSC5414.JPG" alt="MissIrina" style="height: 120px;">
        </div>
            <div class="messagecontent pull-right col-xs-12 col-md-10" >
                <H3>Message from Miss Irina</H3>
                <p>Dear parents and their children. We are happy to announce that enrollment to a Rainbow Daycare is now open. We are accepting applications for children ages 1.5 and 5 years old. We are Russian speaking fully licensed daycare. We teach our children math, reading, and basic art in a fun and safe manner.</p>
            </div>
        </div>
    </div>  
    <!-- </div> -->

    <div class="container-fluid " *ngIf = "myLanguage === 'russian'">
        <div class="messagecard col-xs-12 col-md-8" >         
        <div class="col-xs-12 col-md-2">
        <img class="pull-left image-responsive clearfix" src=".././../assets/img/DSC5414.JPG" alt="MissIrina" style="height: 120px;">
    </div>
        <div class="messagecontent pull-right col-xs-12 col-md-10" >
            <H3>Irina po russki</H3>
            <p>Po russki</p>
        </div>
    </div>
</div>  

