.messagecard{
  
    width: 80%;      
    margin-left:50%;   
    transform:translateX(-50%);
    text-align: center;
  
    
}

.imgandtext{  
    width:100%;
    display: inline-block;
    background-color: blueviolet;
}