
<div class="row displaydata " (click)="resetInfoToDisplay()">
<div class="container "> 
<app-games *ngIf ="  infoToDisplay === 'Games' "></app-games>
<app-education *ngIf ="  infoToDisplay === 'Education'  "></app-education>
<app-benefits *ngIf ="infoToDisplay === 'Benefits' "></app-benefits>
</div>  
<!-- <div class="container " *ngIf = "translatedValue=== 'russian'">     
    <app-games-rus *ngIf =" infoToDisplay === 'Games' "></app-games-rus>
    <app-education-rus *ngIf =" infoToDisplay === 'Education' "></app-education-rus>
    <app-ben-rus *ngIf ="  infoToDisplay === 'Benefits'"></app-ben-rus>
    
    </div>  
</div> -->


   
 
    
    
