
<div class="row displaydata " (click)="resetInfoToDisplay()" >
<div class="container "> 
<app-games *ngIf =" myLanguage !== 'russian' && infoToDisplay === 'Games' "></app-games>
<app-education *ngIf =" myLanguage !== 'russian' && infoToDisplay === 'Education'  "></app-education>
<app-benefits *ngIf =" myLanguage !== 'russian' && infoToDisplay === 'Benefits' "></app-benefits>
<!-- links in russian -->
<app-games-rus *ngIf =" myLanguage === 'russian' && infoToDisplay === 'Games' "></app-games-rus>
<app-education-rus *ngIf =" myLanguage === 'russian' &&  infoToDisplay === 'Education'  "></app-education-rus>
<app-ben-rus *ngIf =" myLanguage === 'russian' &&  infoToDisplay === 'Benefits' "></app-ben-rus>
<app-aboutus *ngIf =" myLanguage !== 'russian' && infoToDisplay === 'About Us' "></app-aboutus>
<app-aboutus-rus *ngIf =" myLanguage === 'russian' && infoToDisplay === 'About Us'"></app-aboutus-rus>
</div>  


   
 
    
    
