.displaydata{
    position: relative;
    
    width: 100%;
    margin-left:50%;
    transform: translateX(-50%);
    /* align-items: center;
    justify-content: center; */

    margin-top: 20px;
    /* border: 1px solid black; */
}