@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');


.education{
   
    
    border: black 1px solid;
    border-radius: 10px;
    z-index: 5px;
    background-color: white;
}
img.cardImage{
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 10px;
  max-width: 80%;
}
li{
    font-family: 'Pangolin', cursive;
    font-size: 18px;
}
h2{
    text-align: center;
}