<div class="container education">
    <div class="row">
        <div class="col-xs-12 col-md-4 ">
            <img class="cardImage" src="../../../assets/img/q643_o2wt_170420.jpg"/>
        </div>
        <div class="col-xs-12 col-md-8 cardText pull-right" >

    <h2>What Do Our Kids Learn</h2>
    <ul>
        <li>
            We teach our kids Russian literature. We read fairy tales 
        </li>
        
         <li>
             Our kids learn basic Math skills
         </li>
         <li>
             Our kids make Art projects together
         </li>
         <li>
             We teach our children music. We sing and dance. 
         </li>
         <li>
             Our kids learn to play together
         </li>
         <li>
            We teach basic Writting, Math, Reading, Art, Literature and basic Engineering
         </li>
         <li class="punchline">
             We always try to have fun while learning new skills
        </li>
    </ul>
        </div>
    </div>
</div>